
/* ---------------OUR WORK START---------- */


.our-work-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 60vh; */
    /* padding: 0 3em; */
    margin: 3em auto;
    max-width: 1400px;
}

.our-work-para{
    text-align: center;
    font-weight: 300;
    font-size: clamp(20px, 1.6vw,60px);
    color: #414141;
    padding:  2em 5em 1em 5em;
}

.our-work-title{
    text-align: center;
    font-weight: 600;
    font-size: clamp(20px, 7vw, 80px);
    color: #414141;
}

@media (max-width:700px) {
    .our-work-para{
        text-align: left;
    }
}
@media (max-width:800px) {
    .our-work-para{
        padding: 2em 2em 1em 2em;
    }
}
/* ---------------OUR WORK END---------- */
/* ---------------OUR SOLUTION STARTS---------- */

.our-solution{
    max-width: 1400px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    padding: 6em 2em;
    padding-top: 7em;
}

.our-solution-title{
    display: flex;
    width: 60%;
    align-items: center;
    height: 50px;
    color: #414141;
}

.our-solution-title>h3{
    font-weight: 500;
    font-size:1.5rem ;
}

.our-solution-title>div{
    width: 30%;
    height: 1px;
    background-color: #414141;
    margin: 0 1em;
}

.our-solution-card{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(2 1fr);
    gap: 2em;
    padding: 0 2em;
}

.card-one{
    grid-column: 1/2;
    grid-row: 1/2;
    box-shadow: 0px 0px 50px rgba(83, 83, 83, 0.162);
}
.card-two{
    grid-column: 2/3;
    grid-row: 1/2;
}
.card-three{
    grid-column: 3/4;
    grid-row: 1/2;
}
.card-four{
    grid-column: 1/2;
    grid-row: 2/3;
}
.card-five{
    grid-column: 2/3;
    grid-row: 2/3;
}
.card-six{
    grid-column: 3/4;
    grid-row: 2/3;
}

.our-solution-card-container{
    width: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 50px rgba(168, 168, 168, 0.2);
    border-radius: 3px;
    color: #414141;
}

.our-solution-card-img{
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-out;
}

.our-solution-text{
    background-color: #FDCB4A;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(65%);
    transition: 0.3s  all ease-in-out;
}

.our-solution-card-container:hover .our-solution-text{
    transform: translateY(0);
}

.our-solution-card-container:hover .our-solution-card-img{
    transform: translateY(-5%);
}

.our-solution-text{
    padding: 1em;
}

.our-solution-text>h3{
    font-weight: 500;
    font-size: 2rem;
}

.our-solution-text>p{
    padding: 1em 0;
    font-weight: 300;
}

.our-solution-text>a>button{
    font-weight: 300;
    padding: .5em 1em;
    border: none;
    color: #414141;
    background-color: #ffffff;
    border-radius: 20px;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.our-solution-text>button:hover{
    background-color: #414141;
    color: #ffffff;
}


@media (max-width:1120px){

    .our-solution-card{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:1350px) {
    .our-solution-title>div{
        display: none;
        width: 0;
    }
    .our-solution-title{
        width: 100%;
        padding: 0 1em;
    }

    .our-solution{
        display: flex;
        flex-direction: column;
        padding: 1em 0;
    }

    .our-solution-title>h3{
        width: 100%;
        padding: 0 1em;
        font-size: 2.5rem;
    }

    .our-solution-title{
        margin: 2em 0;
    }
}
/* ---------------OUR SOLUTION END---------- */
/* <!--------------SPECIal TESTIMONT STARTS--------------> */

.special-testmony{
    max-width: 1400px;
    margin: 7em auto 3em auto;
    padding: 2em ;
    display: flex;
    flex-direction: column;
}

.special-testmony-info{
    display: flex;
    align-items: center;
}

.special-testmony-info>div{
    padding: 0 2em;
}


.special-testmony-info>div>h2{
    font-weight: 500;
    color: #414141;
}

.special-testmony-info>div>p{
    font-weight: 300;
    color: #414141;
}

.special-testmony-info>img{
    width: 80px;
}

.special-testmony-para>p{
    font-size: clamp(5px, 10vw, 30px);
    color: #414141;
    font-weight: 300;
    width: 60%;
    padding: 1.5em 0;

}

.special-testmony-para>p>b{
    font-weight: 500;
}

.special-testmony-para{
    display: flex;
}

@media (max-width:850px) {
    .special-testmony-para>p{
        width: 100%;
    }

    .special-testmony{
        margin: 3em auto 2em auto;
        padding: 0 2em;
    }
}

/* <!--------------SPECIaL TESTIMONT  ENDS --------------> */

/* <!--------------OUR PROJECTS  STARTS --------------> */

.our-projects-title{
    display: flex;
    align-items: center;
    padding: 3em 0;
}

.our-projects-title>h3{
    font-weight: 500;
    font-size: 1.5rem;
    color: #414141;
}

.our-projects-title>div{
    width: 8%;
    height: 1px;
    background-color: #414141;
    margin: 0 1em;
}


.our-projects{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;

}


.our-projects-card-container{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(1 1fr);
    padding-bottom: 4em;
    padding-top: 2em;
    border-bottom: #414141 solid 1px;
}

.our-projects-card-container>h3{
    grid-column: 1/2;
    font-weight: 500;
    font-size: 1.5rem;
    width: 3em;
    color: #414141;
}


.our-projects-card-container>p{
    max-width: 1400px;
    font-weight: 300;
    font-size: clamp(20px, 1.3vw,30px);
    color: #414141;
    grid-column: 2/3;
    padding: 0 5em;
}
.our-projects-card-container>img{
    grid-column: 3/4;
    width: 450px;
    border-radius: 3px;
    box-shadow: 0px 0px 50px rgba(168, 168, 168, 0.2);
}


@media (max-width:1000px){

    .our-projects-title>div{
        display: none;
    }

    .our-projects-title>h3{
        font-size: 2.5rem;
        text-align: center;
    }

    .our-projects-title{
        padding: 2em 0;
    }
    
    .our-projects-card-container{
        display: flex;
        flex-direction: column;
    }

    .our-projects-card-container>p{
        padding: 2em 0;
    }

    .our-projects-card-container>img{
        width: 100%;
    }
}


/* <!--------------OUR PROJECTS  ENDS --------------> */
